.reg{
    padding: 20px 10px;
    .am-checkbox-wrapper{
        span{
            color: #00bc5b;
        }
    }
    .am-button{
        background: #00bc5b;
        margin-top: 10px;
        color: #fff;
    }
    .toLogin{
        display: block;
        color: #00bc5b;
        padding-top: 20px;
    }
}